{% extends 'base.html.twig' %}

{% block body %}
    <h2>BFF - Wóda zryje banię</h2>
    <hr />
    <pre>
    Klub, noc, nocny czar
Pod pachami Adidas
Podchodzę do baru: 
- Wódę lać!
Stop! 

Kurwa mać!

Czy barmana pojebało?
Za lornetę jak za 0,5 
...dych się poszło jebać
Bramka, szatnia, bar i słyszę:
- Typie goń się!
Wolna świnia!
Wóda w dłonie i podbijam
- Walniesz drinka?
- A co? Stawiasz?
Postawiłem.
- To jest wóda!

Wóda zryje banię
Uderzymy w taniec
Potem do kabiny 
Takie życie świni

Nie płacz chłopie - zwykła sprawa,
Że ci świnia nie dała 
Mało który chłop zalicza
Po to są burdele.

Stop!
Teraz węgorz
Patrzcie świnie - król parkietu
Ręka jak złamana 
Nakurwiam węgorza 
Na na na na na na!

- Dobra starczy! 
- Słucham? 
- Starczy! Dawaj mała do kabiny.
- Co? Nie słyszę?
Ta, "nie słyszę".
Idę walić driny

Wóda ryje banię 
Nowe świniobranie
A w portfelu bieda
Max na dwa podejścia

Nie płacz chłopie - zwykła sprawa,
Że ci świnia nie dała 
Mało który chłop zalicza
Po to są burdele.

Teraz po wódzie wszystko mi jedno
Podchodzę do świni najgrubszej w klubie
Wyciągam "Chrobrego", zamawiam "modżajto"
Na hejnał walimy, prowadzę do kabiny

Wóda zryła banie
Boże, Chryste Panie!
Ale lepsza maciora w kabinie 
Niż opłacać drinom świnie

Nie płacz chłopie - zwykła sprawa,
Że ci świnia nie dała 
Mało który chłop zalicza
Po to są burdele.

Nie płacz chłopie - zwykła sprawa,
Że ci świnia nie dała 
Mało który chłop zalicza
Po to są burdele.

Stop!
</pre>
{% endblock %}

